#green {
    background-color: green;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

button {
    border-radius: 5px; /* rounds corners */
    width: 100px;
    margin: 5px; /* space between elements */
}



