body {
    font-family: sans-serif, Arial;
    background-color: hsl(0, 0%, 95%);
}

h1 {
    color: rgb(85, 10, 225)
}

form {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3); /* very confusing */
}

#textbox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;

}

button {
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: hsl(261, 91%, 46%);
    color: hsla(0, 0%, 90%);
}

button:hover {
    background-color: hsl(261, 91%, 36%);
    color: hsl(0, 0%, 80%);
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}

input[type="radio"] {
    width: 1.2em;
    height: 1.2em;
}